<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{fragments/layouts/myPageL.html :: myPageLayout(~{::title}, ~{::link}, ~{::main}, ~{})}">
<head>
    <link href="/css/myPage.css" rel="stylesheet">
    <title>My Page</title>
</head>
<body>
<main>
    <div th:if="${user != null }">
        <p>아이디: <span th:text="${user.username}"></span></p>
        <p>닉네임: <span th:text="${user.displayName}"></span></p>
    </div>
</main>
</body>
</html>