<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link th:replace="~{fragments/commonHead.html :: CommonConfig}">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/itemDetail.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- navigation bar -->
    <div th:replace="~{fragments/nav.html :: NavBar}"></div>

    <div class="detail">
        <h4>상세 페이지</h4>
        <img src="https://placehold.co/300" alt="image">
        <h4 th:text="${itemDetail.title}"></h4>
        <p th:text="${itemDetail.price + '원'}"></p>
    </div>

    <button id="showCommentBtn">댓글 달기</button>

    <div id="commentContainer" class="comment-container">
        <form action="/comment" method="post">
            <div class="star-rating">
                <span class="star" data-value="0.5">&#9733;</span>
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="1.5">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="2.5">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="3.5">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="4.5">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
            </div>
            <input type="hidden" id="ratingInput" name="rating" value="0">
            <div class="rating-value"></div>

            <label for="commentContent" class="sr-only">댓글 내용</label>
            <input type="text" id="commentContent" name="content" placeholder="댓글 쓰기">
            <input type="hidden" name="parent" th:value="${ itemDetail.id }">
            <button type="button" id="cancelBtn">취소</button>
            <button type="submit">작성</button>
        </form>
    </div>

    <script src="/js/detail/commentSend.js" defer></script>
    <script src="/js/detail/starRating.js" defer></script>
</body>
</html>