<div class="nav" th:fragment="NavBar">
    <a class="logo">Spring Mall</a>
    <a href="/list">List</a>
    <a href="/itemInfo/write">Write</a>
    <div class="loginStatus">
        <span sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span>!</span>
        <a th:href="@{/login}" sec:authorize="!isAuthenticated()">로그인</a>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logoutBtn">로그아웃</button>
            </form>
        </div>
    </div>
</div>