<div class="nav" th:fragment="NavBar">
    <a class="logo">Spring Mall</a>
    <div class="nav-links" id="nav-links">
        <a href="/notice" id="notice-link">Notice</a>
        <a href="/list" id="list-link">List</a>
        <a href="/itemInfo/write">Write</a>
    </div>
    <div class="loginStatus">
        <span sec:authorize="isAuthenticated()">
            Welcome, <span th:text="${#authentication.principal.displayName}">회원님</span>!
        </span>
        <a th:href="@{/login}" sec:authorize="!isAuthenticated()">로그인</a>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logoutBtn">로그아웃</button>
            </form>
        </div>
    </div>
</div>