@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

/* Navigation Bar */
.nav {
    display: flex;
    padding: 10px;
    align-items: center;
    font-family: 'Montserrat';
}

.nav .logo {
    font-weight: 800;
    margin-right: auto;
}

.nav .nav-links {
    display: flex;
    gap: 20px; /* 링크들 사이의 빈 공간 설정 */
}

.nav .nav-links a {
    text-decoration: none;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: cadetblue; /* 기본 글자색 */
}

.nav .nav-links a.active {
    font-weight: bold;
    color: darkblue; /* 선택된 글자색 */
}

.nav .logoutBtn {
    background: cadetblue;
    color: white;
    border: none;
    padding: 8px 13px;
    border-radius: 4px;
}

.nav .logoutBtn:hover,
.nav .logoutBtn:hover {
    opacity: 0.8;
}

.nav .loginStatus {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav .loginStatus span {
    margin-right: 10px;
}

input, button {
    padding: 8px 13px;
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    vertical-align: middle;
}

button {
    background: black;
    color: white;
    border: none;
}

input {
    display: block;
}