<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CT Spring Mall</title>
    <link href="/css/frontDoor.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <img src="https://ctspringmall.s3.ap-northeast-2.amazonaws.com/CT+SpringMall-logo.png" alt="CT Spring Mall Logo" class="logo">
    <h1>Welcome to CT Spring Mall</h1>
    <a href="/list" class="enter-button">Enter Site</a>
</div>
</body>
</html>