<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link th:replace="~{/fragments/config.html :: CommonConfig}">
    <link href="/css/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- navigation bar -->
    <div th:replace="~{/fragments/nav.html :: NavBar}"></div>

    <!-- main body -->
    <div class="card-container">
        <div class="card">
            <table>
                <thead>
                <tr>
                    <th>상품 사진</th>
                    <th>상품 이름</th>
                    <th>상품 가격</th>
                    <th>작성자</th>
                    <th>선택 기능</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${items}">
                    <td>
                        <a th:href="@{ '/detail/' + ${i.id} }">
                            <img class="imageSize" th:if="${i.imageUrl != null && i.imageUrl != ''}" th:src="${i.imageUrl}" alt="">
                            <img class="imageSize" th:unless="${i.imageUrl != null && i.imageUrl != ''}" src="https://placehold.co/300" alt="">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{ '/detail/' + ${i.id} }" th:text="${i.title}"></a>
                    </td>
                    <td th:text="${i.price} + '원'"></td>
                    <td>
                        <span th:if="${i.registerUser != null }" th:text="${i.registerUser}"></span>
                        <span th:unless="${i.registerUser != null}"></span>
                    </td>
                    <td>
                        <a th:href="@{ '/itemInfo/edit/' + ${i.id} }" sec:authorize="isAuthenticated()">수정하기</a>
                        <a href="#" class="delete-item" th:data-id="${i.id}" sec:authorize="isAuthenticated()">삭제하기</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Error Message -->
    <input type="hidden" id="serverErrorMessage" th:value="${errorMessage}"/>
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="errorMessage"></p>
        </div>
    </div>

    <!-- Pagination Controls -->
    <div th:replace="~{fragments/pagination.html :: Pagination(currentPage=${pageData.currentPage}, totalPages=${pageData.totalPages}, startPage=${pageData.startPage}, endPage=${pageData.endPage}, size=${pageData.size}) }"></div>

    <!-- include external JavaScript file -->
    <script src="/js/errorModal.js" defer></script>
    <script src="/js/itemRemove.js" defer></script>
    <script th:replace="~{fragments/commonJavaScript.html :: CommonJS}"></script>
</body>
</html>