<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{/fragments/layouts/board.html :: boardLayout(~{::title}, ~{::link}, ~{::main})}">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <title>CT Spring Mall</title>
</head>
<body>
    <!-- main body -->
    <main class="card-container">
        <div class="card">
            <table>
                <thead>
                <tr>
                    <th>상품 사진</th>
                    <th>상품 이름</th>
                    <th>상품 가격</th>
                    <th>작성자</th>
                    <th sec:authorize="isAuthenticated()">선택 기능</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${items}">
                    <td>
                        <a th:href="@{ '/detail/' + ${i.id} }">
                            <img class="imageSize" th:if="${i.imageUrl != null && i.imageUrl != ''}" th:src="${i.imageUrl}" alt="">
                            <img class="imageSize" th:unless="${i.imageUrl != null && i.imageUrl != ''}" src="https://placehold.co/300" alt="">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{ '/detail/' + ${i.id} }" th:text="${i.title}"></a>
                    </td>
                    <td th:text="${i.price} + '원'"></td>
                    <td>
                        <span th:if="${i.registerUser != null }" th:text="${i.registerUser}"></span>
                        <span th:unless="${i.registerUser != null}"></span>
                    </td>
                    <td sec:authorize="isAuthenticated()">
                        <a th:href="@{ '/itemInfo/edit/' + ${i.id} }">수정하기</a>
                        <a href="#" class="delete-item" th:data-id="${i.id}">삭제하기</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>