<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        th:replace="~{/fragments/layouts/boardL.html :: boardLayout(~{::title}, ~{::link}, ~{::main})}">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <title>CT Spring Mall</title>
</head>
<body>
    <!-- main body -->
    <main class="card-container">
        <div class="card">
            <table>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${notices}">
                    <td th:text="${i.id}"></td>
                    <td>
                        <a th:href="@{ '/detail/' + ${i.id} }" th:text="${i.title}"></a>
                    </td>
                    <td th:text="${i.author}"></td>
                    <td th:text="${i.postDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>